@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,500;1,900&family=Shrikhand&display=swap');
@import 'config';
@import 'icons';

body {
    background-color: white;
    color: black;
    height: 100vh;
    font-family: "roboto", sans-serif;
    line-height: 1;
}
h1 {
    font-family: "roboto", sans-serif;
    font-size:3rem;
    font-weight: 300;
}
h2{
    font-family: "roboto", sans-serif;
    font-size:1.6rem;
    font-weight: 400;
}
h3{
    font-family: "roboto", sans-serif;
    font-size:1.4rem;
    font-weight: 300;
}
p {
    font-family: 'roboto';
    font-size:1.4rem;
    font-weight: 200;
}
a {
    color:black;
    text-decoration:none;
}
.homeSection{
    display: flexbox;
    margin:10px;
}
.reservez{
    align-items: center;
    background-color:rgb(235, 234, 227);
    text-align: center;
    padding: 20px 0px 0px 0px;
    h2 {
        padding:10px;
    }
    h3 {
        padding-top: 10px;
    }
    
}
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader__item--1 {
    background-color: #9356dc;
}
.loader__item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;
}
.loader__item--2 {
    background-color: #ff79da;
    animation-delay: .25s;
}

.loader__item--3 {
    background-color: #99e2d0;
    animation-delay: .5s;
}
@keyframes loader {
100% { opacity: 0; 
        z-index: -10;
    }  
}  
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0.5rem);
    }
    75% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0)
    } 
} 

.loader__itemContainer {
    display: flex;
    width: 5rem;
    justify-content: space-between;
}
@keyframes slideup {
    0% {
    transform: translatey(20px);
    opacity: 0%;
    }
    100% {
        transform: translatey(0px);
        opacity: 100%;
    }
}
.social-icons{
       position:fixed;
       bottom: 1rem;
       left: 1rem;
    a {
        padding:.4rem;
    &:hover{
            color: $secondaire-color;   
        }
    }
}
.search-form{
        display: flex;
        justify-content: center;
        padding: 1.25rem 1rem;
        background-color: #f3f3f3;
        font-size: 1.2rem;
        position: relative;
        background-color: lightgray;
        cursor: pointer;
        font-size: 700;
    }
  //  @include transition-ease;
  //  &--box{
   //     background-color: lightgrey;
  //      color:black;
  //      border:unset;
  //  a {
  //          color: black
  //      }
  //  }
//}
.search-form--box{
font-size: 20px;
font-family: 'roboto'sans-serif;
}
.localdot{
    margin-right: 10px;
    }
.explorer-btn_resto{
        color: white;
        padding: 1.5rem 3rem;
        text-align: center;
        background: #ff79da;
        background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
        width: min-content;
        white-space: nowrap;
        margin: 4rem auto;
        border-radius: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-width: 0px;
        font-family: "roboto", sans-serif;
        font-size:1.4rem;
        font-weight: 300;
    }
.fonctionnement {
    display: flex;
    flex-direction: column;
}
.restoList {
    display: flex;
    flex-direction: column;
    row-gap:2rem;
    align-items: center;
}
.orderCard {
    background: #f6f6f6;
    padding: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0) 0px 5px 20px 0px, rgba(0, 0, 0, 0.3) -1px 5px 30px -10px;
    border-radius: 2rem;
    margin-left: 1.5rem;
    margin-top:2rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.orderCard .orderNumber {
    background: #9356dc;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    left: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderCard .orderIcon {
    color: #7e7e7e;
}
.orderCard.pinkOrderCard {
    background: #f5edff;
}  
.restaurantSection {
    background: #f6f6f6;
}
.homeSection {
    padding: 6rem 2rem;
}
.homeSection .sectionTitle {
    margin-bottom: 2rem;
}   
.restaurantItem {
    width: 100%;
    min-width: 2.3rem;
    border-radius: 2rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    cursor: pointer;
    vertical-align: inherit;
    position: relative;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.restaurantItem:hover {
    filter: brightness(1.1);
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.restaurantItem .restaurantInfo {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
.restaurantItem .restaurantName {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
.restaurantImage{
    width:100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}
.tag {
    background: #a9e0d1;
    color: #3b8468;
    font-weight: 500;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
.restaurantItem .restaurantName {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
//menuboxes//
.titleheart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.allMenus {
    display: flex;
    flex-direction: column;
}
.menuCategoryTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}
.menuRestaurantImage {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}
.menuCategoryTitle::after {
    content: "";
    width: 5rem;
    height: 0.5rem;
    background-color: #99e2d0;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
}
.menuItem .menuInfo .menuText .menuDetails {
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menuItem {
    background: white;
    height: 7rem;
    border-radius: 15px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    display: flex;
    animation: slideup 1s forwards;
    opacity: 100;
}
.menuItem .menuInfo {
    padding: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}  
.menuItem:nth-child(2) {
    animation-delay: calc(2s / 5);
}

header {
    background: white;
    z-index: 2;
    font-family: "Shrikhand", cursive;
    font-size: 2.5rem;
    height: 6rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.backarrow {
        position: absolute;
        left: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
}
//.backLink {
  //@debug       align-content: left
.header .headerLogo {
    margin: auto;
    height: 3rem;
}
//@extend {
  //  padding: 4rem;
  //  border-radius: 0;

.menuwrapper {
    max-width: 1280px;
    margin: auto;
    position: relative;
}    
.menu{
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    padding:3rem
}


.menuHeader {
    margin-top: 2rem;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: space-between;
}
.menuRestaurantTitle {
    font-family: "Shrikhand", cursive;
    font-size: 2.5rem;
    font-style: italic;
}
footer {
        display: flex;
        flex-direction: column;
        color:white;
        text-decoration:none;
        background-color: black;
        width: 100%;
        padding-left:40px;
        padding-bottom: 10px;
        padding-top: 30px;
        margin-top: 40px;
        font-size: 1.4rem;
        
    li{
        list-style-type: none;
        }
        a{
            color: white;
        }
    }

